.container{
    width: 65%;
    height: 28%;
    border-radius:15px ;
    background-color: #101744;
    color: #fff;
    position: relative;
    top: -18%;
    left: -15%;
   
}
.heading{
    border-radius: 15px;
    background-color:#FF4ADE;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.mid{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bottom{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-around;

}


@media screen and (max-width:676px) {
    .container{
        width: 80%;
        position: static;
    }
    .heading{
        height: 30%;
        font-size: 0.8rem;
        align-items: center;
    }
    .mid{
        height: 40%;
        align-items: center;

    }
}

@media screen and (min-width:676px) and (max-width:1024px){
    .container{
        width: 57%;
        /* position: static; */
        top: 3%;
        left: 1%;

    }
}