.container{
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
}
.leftContainer{
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
}


.leftDesign{
    /* width: 80%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
    
}

.title{
    color:#72DB73;
    letter-spacing: 1.5px;
    font-size: 2.5rem;
}
.category{
    font-size: 2rem;
}
.userChoice{
    height: 25vh;
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;

}
.userContainer{
    height: 25vh;
    /* background-color: #fff; */
    /* display: flex; */
}

.userSelected{
    background-color: #148A08;
    outline: none;
    color: #fff;
    padding: 2%;
    width: 29%;
    border-radius: 15px;
    margin: 1%;
}

.error{
    color:#FF0000;
    font-size: 1.2rem;
}


/* right-container css */
.rightContainer{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightDesign{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.button{
    background-color: #148A08;
    width: 9%;
    padding: 1%;
    border: none;
    border-radius: 30px;
    color: #fff;
    position: absolute;
    right:150px ;
    bottom: 30px;
    font-size: 1.2rem;

}

@media screen and (max-width:676px) {
    .container{
        display: block;
        height: 210vh;

    }
    .leftContainer{
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
        margin:0 5%;
        width: 90%;
        height: 50vh;
    }
    .leftDesign{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 50vh;
    }
    .title{
        letter-spacing: 1.5px;
        font-size: 2.2rem;
    }
    .category{
        font-size: 0.8rem;
    }
    .userChoice{
        height: 20vh;
    }

    .rightContainer{
        width: 100%;
       
    }
    .rightDesign{
        height: 90vh;
        width: 100%;

        
    }


    .button{
       
        width: 60%;
        padding: 2%;
        border-radius: 30px;
        /* position: relative; */
        position: fixed;
        left:22% ;
        bottom: 50%;
        font-size: 1.2rem;

    }

    .userChoice{
        height: 27vh;
    
    }
    .error{
    margin:0 2% ;
    }
}

@media screen and (min-width:767px) and (max-width:1024px){
    .title{
        font-size: 2.6rem;
    }
    .category{
        font-size: 1.5rem;
    }
    .button{
        background-color: #148A08;
        width: 10%;
        padding: 1%;
        border-radius: 20px;
        position: absolute;
        right:10% ;
        bottom: 30px;
        font-size: 1rem;
    
    }
}